/* navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f0f0f0; */
  /* background-color:  rgba(0, 0, 0, 0.1); */
  background-color: #333333;
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.navbar-logo a{
  color: white;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.navbar_action_container{
  display: flex;
}

.navbar_action_container div{
  display: flex;
}

.navbar_action_container button {
  margin: 0 10px;
  display: flex;
}