.add-question-popup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* max-width: 400px; */
    margin-top: 10px;
    /* margin: 0 auto; */
  }
  
  .add-question-popup h2 {
    margin-bottom: 15px;
    color: #333333;
  }
  
  .add-question-popup input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .add-question-popup input:focus {
    border-color: #3498db;
  }
  
  .add-question-popup label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .add-question-popup .options-container {
    margin-bottom: 15px;
  }
  
  .add-question-popup .option-input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .add-question-popup .option-input:focus {
    border-color: #3498db;
  }
  
  .add-question-popup .correct-answer-checkbox {
    margin-right: 5px;
  }
  
  .add-question-popup button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-question-popup button:hover {
    background-color: #2980b9;
  }
  

  .container {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

select:focus {
    border-color: #007bff;
    outline: none;
}